.form {
    &-group {
        margin: 1.2rem 0;
    }
    &-text {
        display: block;
        margin: 0.5rem 0;
        color: #888;
    }
    input[type="text"],
    input[type="password"],
    input[type="date"],
    input[type="email"],
    select,
    textarea {
        display: block;
        width: 100%;
        padding: 0.5rem;
        font-size: 1.2rem;
        border: 1px solid #ccc;
    }
}

.text-danger {
    color: $danger-color;
    font-size: 1rem;
}